<body>
  <header></header>
  <main>
    <div>
      <div
        class="text max-width-8-desktop center xxl-spacing xl-button l-title xxl-heading l-body"
      >
        <div>
          <div>
            <h1>{{pageTitle}}</h1>
            <p>{{pageDescription}}</p>
          </div>
        </div>
      </div>
    </div>
    {{#if baseGeoSections}}
    <div>
      <div class="grid align-headings contained static-links">
        {{#each baseGeoSections}}
        <div data-section-index="{{@index}}">
          <div>
            <h3>{{heading}}</h3>
            {{#each groups}} {{#if subheading}}
            <h4>{{subheading}}</h4>
            {{/if}}
            <ul>
              {{#each links}}
              <li><a href="{{url}}" data-link-index="{{@index}}">{{title}}</a></li>
              {{/each}}
            </ul>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
    {{#if otherSitemaps}}
    <div>
      <div
        class="text max-width-8-desktop center xxl-spacing xl-button l-title xxl-heading l-body"
      >
        <div>
          <div>
            <h2>{{otherSitemapsHeading}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="text static-links contained center xxl-spacing max-width-8-desktop">
        <div>
          <div>
            {{#each otherSitemaps}}
            <a href="{{url}}" data-geo-index="{{@index}}">{{title}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if extendedGeoGroups}}
    <div>
      <div
        class="text max-width-8-desktop center xxl-spacing xl-button l-title xxl-heading l-body"
      >
        <div>
          <div>
            <h2>{{extendedPagesHeading}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="accordion">
        {{#each extendedGeoGroups}}
        <div data-group-index="{{@index}}">
          <div>{{title}}</div>
        </div>
        <div>
          <div>
            <ul>
              {{#each links}}
              <li><a href="{{url}}" data-link-index="{{@index}}">{{title}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
    <div>
      <div class="metadata">
        <div>
          <div>title</div>
          <div>{{pageTitle}}</div>
        </div>
        <div>
          <div>description</div>
          <div>{{pageDescription}}</div>
        </div>
        <div>
          <div>locale</div>
          <div>{{locale}}</div>
        </div>
        <!-- TODO: remove later -->
        <div>robots</div>
        <div>noindex,nofollow</div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
