<body>
  <header></header>
  <main>
    <div>
      <div
        class="text max-width-8-desktop center xxl-spacing xl-button l-title xxl-heading l-body"
      >
        <div>
          <div>
            <h1>{{pageTitle}}</h1>
          </div>
        </div>
      </div>
    </div>
    {{#each baseGeoSections}}
    <div>
      <div class="text">
        <div>
          <div>
            <h3>{{heading}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="columns contained static-links" data-section-index="{{@index}}">
        <div>
          {{#each groups}}
          <div>
            {{#if subheading}}
            <h4>{{subheading}}</h4>
            {{/if}}
            <ul>
              {{#each links}}
              <li><a href="{{url}}" data-link-index="{{@index}}">{{title}}</a></li>
              {{/each}}
            </ul>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
    {{#if extendedGeoGroups}}
    <div>
      <div class="accordion">
        {{#each extendedGeoGroups}}
        <div data-group-index="{{@index}}">
          <div>{{title}}</div>
        </div>
        <div>
          <div>
            <ul>
              {{#each links}}
              <li><a href="{{url}}" data-link-index="{{@index}}">{{title}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
    <div>
      <div class="metadata">
        <div>
          <div>title</div>
          <div>{{pageTitle}}</div>
        </div>
        <div>
          <div>locale</div>
          <div>{{locale}}</div>
        </div>
        <!-- TODO: remove later -->
        <div>
          <div>robots</div>
          <div>noindex,nofollow</div>
        </div>
        <div>
          <div>template</div>
          <div>sitemap</div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
