/* :root {
    --panel-width: 800px;
}

.footer-wrapper { display: none; }

main {
    margin-top: 64px;
    margin-bottom: 16px;
    position: fixed;
}

.caas-config[data-status='loaded'] {
    color: rgb(76, 105, 180);
    display: grid;
    grid-template-columns: var(--panel-width) auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "config preview";
}

.caas-preview {
    grid-area: preview;
    width: calc(100vw - var(--panel-width));
    max-height: calc(100vh - 64px);
    overflow-y: auto;
}

.configurator {
    width: var(--panel-width);
    grid-area: config;
    max-height: calc(100vh - 64px);
    overflow-y: auto;
} */
