/* #bulkpublish {
  margin: 20px;
} */

.bulk-publisher {
  /* font-family: "Adobe Clean", adobe-clean, "Trebuchet MS", sans-serif; */
  margin: 32px;
  margin: 0;
}

.bulk-publisher .title {
  grid-template-columns: 1fr;
}

dd.content .field label {
  margin-bottom: 8px;
  font-size: 15px;
  margin-bottom: 10px;
  color: #aaa;
}

dd.content .field {
  padding: 0 20px;
  margin: 20px 0
}

.results {
  display: flex;
}

.results > div {
  padding: 20px;
}

.main {
  display: flex;
  min-height: calc(100% - 90px);
}

.options-panel {
  min-width: 400px;
  background: #1D1D1D;
}
.options-panel h4 {
  margin: 20px 20px -10px;
  font-size: 16px;
  font-weight: 500;
}

.urls {
  width: 700px;
}

#urls {
  width: 100%;
  height: 520px;
  height: 320px;
  margin-top: 6px;
  font-size: 16px;
  font-family: system-ui;
  border-radius: 16px;
  padding: 10px;
}

.urls-label {
  height: 36px;
  background: #6F9B00;
  color: #FFF;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.urls-label label {
  margin-left: 12px;
}


/* override the default styles */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content.is-expanded .field.checkbox {
  flex-direction: row;
  justify-content: flex-start;
}

.content.is-expanded input[type=checkbox] {
  /* align-self: baseline; */
  margin-top: -4px;
  
}

select#preset {
  border: solid 1px #b9ce84;
}

.advanced-settings {
  /* display: none; */
  height: 0;
  overflow: hidden;
  transition: height .5s;
}

body.advanced .advanced-settings {
  /* display: block; */
  height: 380px;
  /* transition: height .5s; */
}

.page-title {
  margin: 0;
  background: linear-gradient(360deg, #6f9b01, #fff);
  padding: 43px 30px 2px;
  border-bottom: solid 1px #ddd;
  color: #202020;
}

.page-title i {
  font-style: normal;
  font-weight: 400;
}

dd.content.is-expanded {
  margin-top: 0;
}

.content-panel {
  padding: 0 50px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
}

.content-panel h2 {
  margin-bottom: 0;
}

.urls,
textarea#urls,
textarea#errors,
textarea#success {
  width: 100%;
}

textarea#errors,
textarea#success {
  border: none;
  background: #eee;
}

textarea#success {
  border: solid green;
}

textarea#errors{
  border: solid red;
}

.button-area {
  text-align: center;
}

#bulkpublish {
  margin: 20px 0;
  font-size: 18px;
  background: #6e9b00;
  border: solid 1px lightgreen;
  padding: 8px 30px;
  border-radius: 12px;
  color: white;
}

.config-msg {
  color: #aaa;
  display: inline-block;
}

body.preset .config-msg,
body.advanced .config-msg {
  display: none;
}

span.help {
  color: black;
  background: #666;
  padding: 0 3px;
  margin-left: 0;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  color: #999;
  letter-spacing: 1px;
  font-size: 12px;
  vertical-align: super;
}

span.help:hover {
  background: darkred;
  color: #fff;
}

.success, 
.errors {
  display: none;
}

.success label, 
.errors label {
  font-size: 18px;
  margin: 16px 0 0 0;
  display: block;
}

.errors label {
    color: red;
    display: flex;
    justify-content: space-between;
}

.success label {
  color: green;
}

.errors label span {
  font-size: 22px;
  border: solid 1px #000;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  top: 15px;
  position: relative;
  background: darkred;
  right: -12px;
}


.hidden {
  display: none;
}

p.status-signed-in i,
p.status-signed-out i {
  font-size: 24px;
  padding-right: 10px;
  color: green;
  font-weight: 600;
  vertical-align: -2px;
}

p.status-signed-out i {
  color: red;
}

table.error-table,
table.success-table {
  width: 100%;
  border-top: solid 1px red;
  margin-top: 20px;
}

table.error-table th,
table.success-table th {
  font-weight: 500;
}

table.success-table {
  border-top: solid 1px green;
}

table.error-table th,
table.success-table th {
  text-align: left;
}

table.error-table td,
table.success-table td {
  font-size: 15px;
  padding: 4px 0;
}

td.error {
  color: #ee0000;
  font-weight: bold;
  text-align: center;
}

td.ok {
  color: green;
  font-weight: bold;
  text-align: center;
}

thead tr {
  background: #f0f0f0;
}

tbody tr:hover {
  background: #f0f0ff;
}

/* themes */
.theme-options {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 15px;
}

.content-panel.dark {
  background: #444;
  color: #fafafa;
}

.content-panel.dark textarea#urls {
  background: #666;
  color: white;
}

.content-panel.dark textarea#urls::placeholder {
  color: #b0b0b0;
}

.content-panel.dark thead tr {
  background: #333;
  color: white;
}

.content-panel.dark a,
.content-panel.dark table.error-table a{
  color: #ccc;
}
.content-panel.dark table td:not(.error) {
  color: #ccc;
}