
body {
  font-family: ui-sans-serif, system-ui, "Adobe Clean", adobe-clean, sans-serif;
  padding: 0;
  margin: 0;
}

/* *** Page header *** */

.page-title h1 {
  font-size: 2em;
  margin-bottom: 16px;
  position: relative;
}

.feedback {
  font-family: ui-sans-serif, system-ui, "Adobe Clean", adobe-clean, sans-serif;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  background: transparent;
  border: solid 1px #ccc;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  padding: 6px 12px;
  border-radius: 13px;
}

.feedback:hover {
  background: #6f9b00;
}

/* *** Bulk publisher *** */

.bulk-publisher {
  font-weight: 300;
  margin: 32px;
  margin: 0;
}

.main {
  display: flex;
  min-height: calc(100% - 126px);
}

.bulk-publisher .title {
  grid-template-columns: 1fr;
}

/* *** Options panel *** */

.options-panel {
  min-width: 350px;
  background: linear-gradient(45deg, #aaa, #eee);
  border-right: solid 1px #aaa;
  overflow-y: auto;
  min-height: 100%;
}

dd.content {
  background-color: transparent;
}

dd.content.is-expanded {
  margin-top: 0;
}

dd.content h4 {
  margin: 5px 20px 10px;
  font-size: 20px;
  font-weight: 500;
}

dd.content .field {
  padding: 0 20px;
  margin: 12px 0
}

dd.content .field label {
  margin-bottom: 4px;
  font-size: 15px;
  color: #202020;
}

.bulk-publisher dd.content {
  color: #000;
}

dd.content .field select, 
dd.content .field input[type="text"] {
  border: none;
  background: #eaeaea;
  color: #202020;
  width: 100%;
  font-weight: 200;
}

body:not(.preset) dd.content .field input {
  border: solid 1px #bababa;
}

.content.is-expanded .field.checkbox {
  flex-direction: row;
  justify-content: flex-start;
}

.content.is-expanded input[type=checkbox] {
  align-self: center;
}

select#presetSelector {
  border: solid 2px #6f9b00;
  border: solid 2px #c00;
  border-radius: 8px;
  padding: 10px 4px;
  margin-bottom: 10px;
}

body.preset select#presetSelector,
body.advanced select#presetSelector {
  border: solid 1px #6f9b00;
}

.preset-options,
.advanced-options {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: height .5s;
  border: solid 1px #666;
  border-radius: 10px;
  border-width: 0;
}

.preset-options {
  height: 110px;
  transition: height .5s;
  border: solid 1px #aaa;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 0;
}

dd.content .preset-options .field:not(:first-of-type) {
  display: none;
}

body.preset dd.content .preset-options .field {
  display: flex;
  align-items: baseline;
  margin: 0;
}

body.advanced dd.content .preset-options .field {
    display: block;
}

body.preset  {
  position: relative;
}

h5.basic-settings {
  display: none;
  margin: 15px 20px;
  font-size: 16px;
  font-weight: 400;
}

body.advanced h5.basic-settings {
  display: block;
  margin-bottom: -5px;
}

body.preset  .preset-options {
  height: 196px;
}

body.preset dd.content .preset-options .field label {
  width: 90px;
}

body.preset  .preset-options .help {
  display: none;
}

body.advanced  .preset-options,
body.advanced  .advanced-options {
  height: 368px;
  border-width: 1px;
  border: solid 1px #aaa;
  border-radius: 10px;
  margin: 20px;
  background: linear-gradient(45deg, #eee6, transparent);
}

body.advanced .advanced-options {
  padding: 10px 0;
}

body.advanced .bulk-publisher.dark  .preset-options,
body.advanced .bulk-publisher.dark  .advanced-options {
  background: linear-gradient(45deg, #20202066, transparent);
  border-color: #666;
}

body.preset dd.content  .preset-options .field input[type="text"] {
  background: transparent;
  color: #666;
}

.page-title {
  margin: 0;
  background: linear-gradient(360deg, #6f9b01, #fff);
  padding: 43px 30px 2px;
  border-bottom: solid 1px #ddd;
  color: #202020;
}

.page-title i {
  font-style: normal;
  font-weight: 400;
}

.page-title span.beta {
  font-size: 27px;
  font-variant: small-caps;
  font-weight: 200;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

div#caas-draft-cb {
  margin-top: 15px;
}

/* *** Content panel *** */

.content-panel {
  padding: 0 50px;
  width: 100%;
  background: #f6f6f6;
  position: relative;
}

.content-panel h2 {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;  
}

.content-panel b {
  font-weight: 500;
}

.urls,
textarea#urls,
textarea#errors,
textarea#success {
  width: 100%;
}

#urls {
  width: 100%;
  height: 520px;
  height: 250px;
  margin-top: 6px;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 200;
  border-radius: 16px;
  padding: 15px 20px;
}

textarea#errors,
textarea#success {
  border: none;
  background: #eee;
}

textarea#success {
  border: solid green;
}

textarea#errors{
  border: solid red;
}

.button-area {
  text-align: center;
}

.publish-warning {
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: height .3s;
}

span.warning-icon {
  color: orange;
  font-size: 24px;
}

#bulkpublish {
  margin: 20px 0;
  font-size: 16px;
  background: #6e9b00;
  border: solid 1px lightgreen;
  padding: 8px 30px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.config-msg {
  color: #aaa;
  display: inline-block;
}

body.preset .config-msg,
body.advanced .config-msg {
  display: none;
}

span.help {
  padding: 1px;
  margin-left: 2px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  color: #999;
  letter-spacing: 1px;
  font-size: 12px;
  vertical-align: super;
}

span.help:hover {
  background: #999;
  color: #fff;
}

.success, 
.errors {
  display: none;
}

.success label, 
.errors label {
  font-size: 18px;
  margin: 16px 0 0;
  display: block;
}

.errors label {
    color: red;
    display: flex;
    justify-content: space-between;
}

.success label {
  color: green;
}

.errors label span {
  font-size: 22px;
  border: solid 1px #000;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  top: 15px;
  position: relative;
  background: darkred;
  right: -12px;
}

.hidden {
  display: none;
}

p.status-signed-in i,
p.status-signed-out i {
  font-size: 24px;
  padding: 0 5px;
  font-weight: 600;
  vertical-align: -2px;
  margin-right: 8px;
  border: solid 1px #aaa;
  border-radius: 15px;
}

p.status-signed-in i {
  color: #6e9b00;
}

p.status-signed-out i {
  font-style: normal;
  color: red;
}

.status {
  position: relative;
}

.status button.clear-results {
  position: absolute;
  right: 20px;
  background: transparent;
  border: solid 1px #bababa;
  padding: 6px 16px;
  border-radius: 6px;
}

.status button.clear-results:hover {
  background: linear-gradient(0deg, #ddd, transparent);
}

table.error-table,
table.success-table {
  width: 100%;
  border-top: solid 1px red;
  border-collapse: collapse;
  margin-top: 20px;
}

table.success-table {
  border-top: solid 1px green;
}

table.error-table th,
table.success-table th {
  font-weight: 500;
  text-align: left;
  padding: 6px 0;
}

table.error-table td:not(.error),
table.success-table td:not(.ok) {
  font-size: 15px;
  padding: 6px 0;
  font-weight: 200;
}

tr th:first-child,
tr td:first-child {
  padding-left: 6px !important;
}

table.success-table td.entityid {
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
}

table.success-table tr th:first-child,
table.error-table tr th:first-child {
  min-width: 80px !important;
}

td.ok,
td.error {
  padding: 0 6px;
  font-weight: bold;
}

td.ok {
  color: green;
}

td.error {
  color: #e00;
}

thead tr {
  background: #f0f0f0;
}

tbody tr:hover {
  background: #f0f0ff;
}

/* *** themes style overrides *** */

.theme-options {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 15px;
}

.bulk-publisher.dark .divider {
  border-color: #161616;
}

.bulk-publisher.dark .options-panel {
  background: linear-gradient(45deg, #000, #404040);
}

.bulk-publisher.dark dd.content {
  color: #EFEFEF;
}

.bulk-publisher.dark .content-panel {
  background: #444;
  color: #fafafa;
}

.bulk-publisher.dark dd.content .field label {
  color: #aaa;
}

.bulk-publisher.dark dd.content .field select, 
.bulk-publisher.dark  dd.content .field input {
  border: none;
  background: #3C3C3C;
  color: #EFEFEF;
}

.bulk-publisher.dark .content-panel textarea#urls {
  background: #505050;
  color: white;
  border-color: #999;
}

.bulk-publisher.dark .content-panel textarea#urls::placeholder {
  color: #b0b0b0;
}

.bulk-publisher.dark .content-panel thead tr {
  background: #333;
  color: white;
}

.bulk-publisher.dark .content-panel  tbody tr:hover {
  background: #505050;
}

.bulk-publisher.dark .content-panel a,
.bulk-publisher.dark .content-panel table.error-table a{
  color: #ccc;
}

.bulk-publisher.dark .content-panel table td:not(.error) {
  color: #ccc;
}

.bulk-publisher.dark .content-panel table.success-table td.ok {
  color: #99d600;
}

.bulk-publisher.dark .status button.clear-results {
  color: #bababa
}

.status button.clear-results:hover {
  background: linear-gradient(0deg, #333, transparent);
}

/* *** Modal *** */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000c;
  justify-content: center;
  display: none;
}

.modal-content {
  background: white;
  width: 80%;
  height: 80%;
  max-width: 960px;
  align-self: center;
  position: relative;
}

.modal-content .close {
  position: absolute;
  right: 0;
  top: -12px;
  font-size: 40px;
  cursor: pointer;
  color: #666;
}
