# Milo CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/libs/utils/ @adobecom/admins
/libs/blocks/video-metadata/ @hparra
/libs/blocks/global-navigation/ @overmyheadandbody @mokimo @narcis-radu 
