:root {
  --main-background-color: #fefefe;
  --main-text-color: #171717;
  --notch-size: 12px;
  --main-blue: #25a1fc;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Adobe Clean', adobe-clean, sans-serif;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

.whole-content {
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 3em;
  min-width: 814px;
}

.hero-image {
  background-image: linear-gradient(90deg, rgba(194 194 194 / 90%), rgba(0 0 0 / 0%)),
    url("img/cropped.png");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: inherit;
}

.icon-button {
  height: 2em;
  width: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-5 {
  margin-bottom: 5em;
}

.mr-1 {
  margin-right: 1em;
}

.opacity-50 {
  opacity: 0.5;
}

.blue {
  color: var(--main-blue);
}
