<div>
  <picture>
    <source type="image/webp" srcset="./media_15.png?width=2000&#x26;format=webply&#x26;optimize=medium" media="(min-width: 600px)">
    <source type="image/webp" srcset="./media_15.png?width=750&#x26;format=webply&#x26;optimize=medium">
    <source type="image/png" srcset="./media_15.png?width=2000&#x26;format=png&#x26;optimize=medium" media="(min-width: 600px)">
    <img loading="lazy" alt="" src="./media_15.png?width=750&#x26;format=png&#x26;optimize=medium" width="1011" height="1098">
  </picture>
</div>
