odin-search {
  margin: 64px;
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

merch-card {
  position: relative;
}

odin-search > ul > li {
  list-style: none;
  position: relative;
  border-top: 1px dodgerblue solid;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
  
odin-search .block {
  margin-top: 64px;
}

odin-search p.path {
  position: absolute;
  top: 16px;
  left: 0;
  white-space: nowrap;
  margin: 0;
}

odin-search sp-button-group {
  position: absolute;
  top: 16px;
  right: 0;
}

odin-search > ul {
  width: 80%;
}
