header nav {
  width: 83.4%;
  margin: 0 auto;
  display: flex;
  align-content: stretch;
  font-weight: 700;
}

header nav button {
  display: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  display: flex;
  align-content: stretch;
}

header nav ul li > a:any-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 64px;
  padding: 0 10px;
  color: #ff1693;
}

header nav ul li > a:hover {
  text-decoration: none;
  background: rgb(200 200 200 / 20%);
}

@media (min-width: 600px) {
  header nav button {
    display: none;
  }
}

@media (min-width: 1440px) {
  header nav {
    width: 1200px;
  }
}
