nav {
  width: 83.4%;
  margin: 0 auto;
  display: flex;
  align-content: stretch;
}

nav button {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: flex;
  align-content: stretch;
}

nav ul li > a {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 600px) {
  nav button {
    display: none;
  }
}

@media (min-width: 1440px) {
  nav {
    width: 1200px;
  }
}