.hero {
  position: relative;
}

.hero picture {
  display: block;
  position: absolute;
  inset: 0;
}

.hero img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hero p {
    margin: 0;
  }

.hero h1 {
    max-width: 83.4%;
    margin: 0px auto;
    position: relative;
    padding: 24px 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
}

@media (min-width: 1440px) {
    .hero h1 {
      width: 1200px;
      font-size: 72px;
    }
}