.vote {
    width: 83.4%;
    margin: 0 auto;
}

.vote * {
    box-sizing: border-box;
}

.ratings-header {
    display: grid;
    grid-template-columns: 0 1fr;
    justify-content: flex-end;
    grid-template-areas:
        'none headings';
}

.ratings-text {
    grid-area: headings;
    text-transform: uppercase;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.ratings-text p:first-child {
    text-align: left;
    background: 1000px url('/blocks/vote/img/dislike.png') no-repeat;
}

.ratings-text p:nth-child(2) {
    padding-left: 12px;
}

.ratings-text p:last-child {
    text-align: right;
    background: 1000px url('/blocks/vote/img/like.png') no-repeat;
}

.vote .vote-card h3,
.vote .vote-card p {
    margin: 0;
}

.vote p {
    margin: 36px 0;
    line-height: 36px;
}

.vote-card {
    background: black;
    border-radius: 6px;
    padding: 12px 0 16px 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 48px;
    min-height: 100px;
    align-items: center;
}

.vote-card .text {
    padding: 0 16px;
    font-size: 18px;
    line-height: unset;
}

.slider-container {
    padding: 12px 16px 0 16px;
}

.slider {
    position: relative;
    display: block;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: none;
    outline: none;
    width: 100%;
    filter: brightness(1);
    transition: all .2s;
    margin: 0;
}

.slider:before {
    content: '';
    display: block;
    background: #388CED;
    border-radius: 3px;
    height: 6px;
    top: 50%;
    left: 24px;
    right: 24px;
    transform: translateY(-50%);
    transition: all .5s;
    position: absolute;
}

.slider[value="-1"]:before {
    background: #BB121A;
}

.slider[value="1"]:before {
    background: #12805C;
}

.slider::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    width: 40px;
    height: 40px;
    background: 50% 100% url('/blocks/vote/img/neutral.png') no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.slider[value="-1"]::-webkit-slider-thumb {
    background: 50% 100% url('/blocks/vote/img/dislike.png') no-repeat;
    background-size: 100%;
}

.slider[value="1"]::-webkit-slider-thumb {
    background: 50% 100% url('/blocks/vote/img/like.png') no-repeat;
    background-size: 100%;
}

@media (min-width: 600px) {
    .ratings-header {
        grid-template-columns: 1fr 1fr;
    }

    .vote-card {
        background: unset;
        border-radius: unset;
        padding: unset;
        grid-template-columns: 1fr 1fr;
    }

    .slider-container {
        padding: 0 0 0 14px;
    }
}

@media (min-width: 1440px) {
    .vote {
      width: 1200px;
    }
}