<div>
<a href="/test/blocks/fragment/mocks/fragments/fragment">Fragment</a>
<a class="bad" href="/test/blocks/fragment/mocks/fragments/bad">Fragment</a>
<a class="malformed" href="/test/blocks/fragment/mocks/fragments/malform">Fragment</a>
<a class="parent-link" href="/test/blocks/fragment/mocks/fragments/fragment">Fragment</a>
<a class="frag-a" href="/test/blocks/fragment/mocks/fragments/frag-a">Fragment</a>
<a class="frag-image" href="/test/blocks/fragment/mocks/fragments/frag-image">Fragment</a>
<div class="parent"></div>
<div class="marquee-section">
  <div>
    <div class="marquee">
      <div>
        <div data-valign="middle">#f5f5f5</div>
      </div>
      <div>
        <div data-valign="middle"><a href="/test/blocks/fragment/mocks/fragments/marquee-content">./fragments/marquee-content</a></div>
      </div>
    </div>
  </div>
</div>
<div class="columns-section">
  <div>
    <div class="columns contained">
      <div>
        <div>Other glossary terms<br>Data-Driven Decision Making<br>Data Visualization<br>Market Segmentation<br>Descriptive
          Analytics<br>Correlation Analysis</div>
        <div><a href="/test/blocks/fragment/mocks/fragments/col-content">./fragments/col-content</a></div>
        <div>Related Adobe products<br>Adobe Analytics<br>Adobe Audience Manager<br><a
            href="https://www.adobe.com/sensei.html">Adobe Sensei</a><br>Experience Platform<br>Adobe Target</div>
      </div>
    </div>
  </div>
</div>
<div class="default-section">
  <div>
    <p><a href="/test/blocks/fragment/mocks/fragments/media">./fragments/media</a></p>
  </div>
</div>
</div>
