:root {
  --notch-size: 12px;
}

body {
  background-color: var(--hlx-sk-bg);
  color: var(--hlx-sk-color);
  font-family: 'Adobe Clean', adobe-clean, sans-serif;
  font-size: 16px;
  margin: 0;
}

h1.container {
  margin: 36px auto;
  font-size: 48px;
}

.tools-list {
  background: #e6cedc;
}

.tools-list .container {
  gap: 6px;
  padding: 36px 12px;
  grid-template-columns: auto auto;
  justify-content: start;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button-container {
  padding-bottom: 10px;
}

button,
a.button {
  outline: transparent solid 0;
  transition: outline 300ms;
  border: none;
  height: 36px;
  font-family: 'Adobe Clean', adobe-clean, sans-serif;
  font-size: 16px;
  padding: 0 18px;
  clip-path:
    polygon(0% 0%,
    var(--notch-size) 0%,
    calc(100% - var(--notch-size)) 0%,
    100% var(--notch-size),
    100% calc(100% - var(--notch-size)),
    100% 100%,
    0% 100%,
    0% 100%);
}
