@font-face {
    font-family: adobe-clean;
    src:url("/fonts/adobe-clean-400.woff2") format("woff2");
    font-display:optional;font-style:normal;font-weight:400;
}

@font-face {
    font-family: adobe-clean;
    src:url("/fonts/adobe-clean-400-italic.woff2") format("woff2");
    font-display:optional;font-style:italic;font-weight:400;
}

@font-face {
    font-family: adobe-clean;
    src:url("/fonts/adobe-clean-700.woff2") format("woff2");
    font-display:optional;font-style:normal;font-weight:700;
}

@font-face {
    font-family: adobe-clean;
    src:url("/fonts/adobe-clean-900.woff2") format("woff2");
    font-display:optional;font-style:normal;font-weight:900;
}

@font-face {
  font-family: adobe-clean-serif;
  src:url("/fonts/adobe-clean-serif-400.woff2") format("woff2");
  font-display:optional;font-style:normal;font-weight:400;
}

@font-face {
  font-family: adobe-clean-serif;
  src:url("/fonts/adobe-clean-serif-400-italic.woff2") format("woff2");
  font-display:optional;font-style:italic;font-weight:400;
}
