.forge-with-great-power-comes-great-productivity {display:flex;flex-direction:column;align-items:center;gap:124px;width:100%;}

.forge-with-great-power-comes-great-productivity {display:flex;flex-direction:row;align-items:flex-start;overflow:hidden;width:100%;}

.forge-with-great-power-comes-great-productivity {display:flex;flex-direction:column;gap:100px;flex-shrink:0;}

.forge-with-great-power-comes-great-productivity {font-family:'Adobe Clean Display','Arial Black',Arial,sans-serif;font-weight:900;font-size:80px;line-height:76px;letter-spacing:-3.2px;text-align:center;color:var(--s2a-color-gray-1000, #000000);margin:0;width:100%;padding:0 60px;box-sizing:border-box;}

.forge-with-great-power-comes-great-productivity {font-family:'Adobe Clean',Helvetica,Arial,sans-serif;font-weight:400;font-size:20px;line-height:24px;text-align:center;color:var(--s2a-color-gray-1000, #000000);max-width:696px;margin:0;padding:0 20px;box-sizing:border-box;}