:root {
  --background-white:#ffffff;
  --color-292929:#292929;
  --color-2c2c2c:#2c2c2c;
  --color-e9e9e9:#e9e9e9;
  --color-f8f8f8:#f8f8f8;
  --palette-gray-50:#f8f8f8;
  --text-black:#000000;
  --web-gray-scale-black:#000000;
  --font-family-adobe-clean:"Adobe Clean";
}

*,*::before,*::after {box-sizing:border-box}

html,body {margin:0;padding:0}

body {background:var(--background-white);font-family:"Adobe Clean",sans-serif;color:var(--color-2c2c2c);-webkit-font-smoothing:antialiased}