body {
  background-color: #fff;
  margin: 0 var(--spacing-1000);
}

.repo-row {
  display: flex;
  justify-content: flex-end;
  margin: 0 var(--spacing-200) var(--spacing-400);
}

.repo-row p {
  margin: 0;
}

.repo-row span {
  text-transform: uppercase;
}
