body {
  background-color: #fff;
  margin: 0 var(--spacing-1000);
}

/* CHANGE ME TO SOMETHING ELSE WHEN WE FIGURE OUT WHERE TO PUT THIS INFORMATION */
/* .button-row span {
  text-transform: uppercase;
} */
