fetch-retries=0
auto-install-peers=true
recursive-install=true

@dexter:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-dexter-release/
@pandora:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-pandora-release/
