<div>
  <div class="brick large click" id="full-copy">
    <div>
      <div data-valign="middle">
        <p>
          <picture>
            <img loading="lazy" alt="" src="" width="1600" height="1356">
          </picture>
        </p>
        <p>bottom, center, contain</p>
      </div>
      <div data-valign="middle">
        <p>
          <picture>
            <img loading="lazy" alt="" src="" width="1600" height="1356">
          </picture>
        </p>
        <p>bottom, center, contain</p>
      </div>
      <div data-valign="middle">
        <p>
          <picture>
            <img loading="lazy" alt="" src="" width="1600" height="1356">
          </picture>
        </p>
        <p>bottom, center, contain</p>
      </div>
    </div>
    <div>
      <div data-valign="middle">
        <p>
          <picture>
            <img loading="lazy" alt="" src="" width="154" height="150">
          </picture>
        </p>
        <p>THE CREATIVITY CONFERENCE</p>
        <h2 id="adobe-max-its-live-now">Adobe MAX. It’s live now.</h2>
        <p>Grab your front-row seat at the creative event of the year.</p>
        <ul>
          <li>
            <picture>
              <img loading="lazy" alt="" src="" width="154" height="150">
            </picture> Adobe Photoshop
          </li>
          <li>
            <picture>
              <img loading="lazy" alt="" src="" width="154" height="150">
            </picture> Adobe Photoshop
          </li>
          <li>
            <picture>
              <img loading="lazy" alt="" src="" width="154" height="150">
            </picture> Adobe Photoshop
          </li>
        </ul>
        <p><strong><a href="">Illustrator</a></strong> <em><a href="">Photoshop</a></em></p>
        <p><a href="">Text Link</a></p>
        <p>Supplemental text</p>
      </div>
    </div>
  </div>
</div>
