/*
 * Copyright 2022 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 @font-face {
  font-family: 'Trebuchet MS';
  font-weight: 700;
  size-adjust: 95%;
  src: local('Trebuchet MS Bold'),
       local('TrebuchetMSBold');
}

@font-face {
  font-family: 'Trebuchet MS';
  font-weight: 400;
  size-adjust: 93%;
  src: local('Trebuchet MS'),
       local('TrebuchetMS');
}

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #ffffff20;
  --highlight-background-color: #ffffff40;
  --text-color: #2c2c2c;

  /* fonts */
  --body-font-family: adobe-clean, 'Trebuchet MS', sans-serif;
  --heading-font-family: var(var(--body-font-family));
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;
}

html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

body.appear {
  display: unset;
}

header {
  min-height: 64px;
  display: flex;
  align-content: stretch;
  font-weight: 700;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  font-weight: 400;
}
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

a.fragment {
  display: none;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

img {
  max-width: 100%;
}

a.link-block {
  display: none;
}

.contained {
  width: 83.4%;
  margin: 0 auto;
}

dialog {
  border: none;
  border-radius: 6px;
  padding: 0;
}

dialog::backdrop {
  background: rgb(50 50 50 / 80%);
}

button.dialog-close {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  font-size: 18px;
  top: 4px;
  padding: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

dialog .fragment {
  max-width: 400px;
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;  
  }
}

@media (min-width: 1440px) {
  .contained {
    width: 1200px;
    margin: 0 auto;
  }
}

/* progressive section appearance */
main > div > [class] {
  display: none;
}

main > div > [data-status='loaded'] {
  display: unset;
}
