<body class="featured-story">
  <header class="global-navigation"></header>
  <main>
    <div class="section" data-idx="0">
      <div class="hero-marquee media-cover dark con-block has-bg" data-block-status="loaded" data-block="" style="background: rgb(0, 0, 0);">
        Hero Marquee
      </div>
    </div>
    <div class="section" data-status="decorated" data-idx="1">
      <div class="quick-facts">
        <div>
          <div>
            <picture>
              <source type="image/webp" srcset="" media="(min-width: 600px)">
              <source type="image/webp" srcset="">
              <source type="image/png" srcset="" media="(min-width: 600px)">
              <img loading="lazy" alt="" src="" width="312" height="159">
            </picture>
          </div>
        </div>
        <div>
          <div>
            <h3 id="30">30%</h3>
            <p>Reduction in time to market for email campaigns</p>
          </div>
        </div>
        <div>
          <div>
            <h3 id="2x">2x</h3>
            <p>Increase in membership conversion rate</p>
          </div>
        </div>
        <div>
          <div>
            <h3 id="7">7</h3>
            <p>Consecutive years of record membership growth without additional marketing spend</p>
          </div>
        </div>
        <div>
          <div>
            <h2 id="products-used">Products used</h2>
            <ul>
              <li>
                <picture>
                  <source type="image/webp" srcset="" media="(min-width: 600px)">
                  <source type="image/webp" srcset="">
                  <source type="image/png" srcset="" media="(min-width: 600px)">
                  <img loading="lazy" alt="" src="" width="49" height="46">
                </picture><a href="https://business.stage.adobe.com/products/experience-platform/adobe-experience-platform.html">Adobe Experience Platform</a>
              </li>
              <li>
                <picture>
                  <source type="image/webp" srcset="" media="(min-width: 600px)">
                  <source type="image/webp" srcset="">
                  <source type="image/png" srcset="" media="(min-width: 600px)">
                  <img loading="lazy" alt="" src="" width="49" height="46">
                </picture> <a href="https://business.stage.adobe.com/products/real-time-customer-data-platform/rtcdp.html">Adobe Real-Time Customer Data Platform</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section-metadata">
        <div>
          <div data-valign="middle">style</div>
          <div data-valign="middle">Container, xxl spacing, two up, one up tablet</div>
        </div>
        <div>
          <div data-valign="middle">background</div>
          <div data-valign="middle">#F8F8F8</div>
        </div>
        <div>
          <div data-valign="middle">layout</div>
          <div data-valign="middle">1 | 2</div>
        </div>
      </div>
    </div>
    <div class="section" data-status="decorated" data-idx="2">
      <div class="quote m-spacing rounded-corners align-left">
        <div>
          <div data-valign="middle">#ffffff</div>
        </div>
        <div>
          <div data-valign="middle">
            <picture>
              <source type="image/webp" srcset="" media="(min-width: 600px)">
              <source type="image/webp" srcset="">
              <source type="image/png" srcset="" media="(min-width: 600px)">
              <img loading="lazy" alt="" src="" width="159" height="159">
            </picture>
          </div>
        </div>
        <div>
          <div data-valign="middle">
            <p>“Our partnership with Adobe has allowed us to transform not just our digital landscape, but our entire approach to member engagement. Adobe solutions empower us to reach millions of our members at the right time with the right offer, enhancing both satisfaction and loyalty.”</p>
            <p><strong>Mark Pelletier</strong></p>
            <p><em>Senior Vice President of E-Business, AAA Northeast</em></p>
          </div>
        </div>
      </div>
      <div class="text m-spacing">
        <div>
          <div data-valign="middle">
            <p>Mark Pelletier and Lisa Melton remember exactly how they were introduced to AAA. For Pelletier, who is now senior vice president, e-business, for AAA Northeast (AAANE), that moment arrived when he got his first car and his mother gave him a AAA membership to carry for the road ahead.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section" data-status="decorated" data-idx="3">
      <div class="text center max-width-8-desktop s-body m-spacing-top">
        <div>
          <div data-valign="middle">
            <p>Melton, now chief marketing officer for AAANE, experienced AAA’s trusted services as a young adult planning a cross-country road trip. She visited the AAA office in Buffalo, New York, where a representative built her a custom AAA TripTik® travel planner and manually marked every construction obstacle along the way.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
