<body class="featured-story">
  <header class="global-navigation"></header>
  <main>
    <div class="section">
      <div class="marquee split dark" data-block-status="loaded" style="background: rgb(0, 0, 0);" data-block=""><div class="foreground container">
          <div class="text">
            <h1 id="aaa-northeast-accelerates-member-first-experiences" class="heading-xl">AAA Northeast accelerates member-first experiences.</h1>
          </div>
          
        </div><div class="asset image bleed">
            <picture>
              <source type="image/webp" srcset="" media="(min-width: 600px)">
              <source type="image/webp" srcset="">
              <source type="image/png" srcset="" media="(min-width: 600px)">
              <img loading="eager" alt="" src="" width="1920" height="1120" fetchpriority="high">
            </picture>
          </div></div>
    </div>
    <div class="section" data-status="decorated" data-idx="1">
      <div class="stats">
        <div>
          <div>
            <picture>
              <source type="image/webp" srcset="" media="(min-width: 600px)">
              <source type="image/webp" srcset="">
              <source type="image/png" srcset="" media="(min-width: 600px)">
              <img loading="lazy" alt="AAA Northeast" src="" width="312" height="160">
            </picture>
          </div>
        </div>
        <div>
          <div>
            <p><strong>30%</strong></p>
            <p>Reduction in time to market for email campaigns</p>
          </div>
        </div>
        <div>
          <div>
            <p><strong>2x</strong></p>
            <p>Increase in membership conversion rate</p>
          </div>
        </div>
        <div>
          <div>
            <p><strong>7</strong></p>
            <p>Consecutive years of record membership growth without additional marketing spend</p>
          </div>
        </div>
        <div>
          <div>
            <p><strong>Featured Products</strong></p>
            <p><a href="/products/experience-platform/adobe-experience-platform.html">Adobe Experience Platform</a></p>
            <p><a href="/products/real-time-customer-data-platform/rtcdp.html">Adobe Real-Time Customer Data Platform</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="section" data-status="decorated" data-idx="2">
      <div class="quote inline">
        <div>
          <div>
            <picture>
              <source type="image/webp" srcset="" media="(min-width: 600px)">
              <source type="image/webp" srcset="">
              <source type="image/png" srcset="" media="(min-width: 600px)">
              <img loading="lazy" alt="" src="" width="160" height="160">
            </picture>
          </div>
        </div>
        <div>
          <div>
            <h2 id="our-partnership-with-adobe-has-allowed-us-to-transform-not-just-our-digital-landscape-but-our-entire-approach-to-member-engagement-adobe-solutions-empower-us-to-reach-millions-of-our-members-at-the-right-time-with-the-right-offer-enhancing-both-satisfaction-and-loyalty">“Our partnership with Adobe has allowed us to transform not just our digital landscape, but our entire approach to member engagement. Adobe solutions empower us to reach millions of our members at the right time with the right offer, enhancing both satisfaction and loyalty.”</h2>
            <p><strong>Mark Pelletier</strong></p>
            <p>Senior Vice President of E-Business, AAA Northeast</p>
          </div>
        </div>
      </div>
      <div class="text long-form l-spacing m-body l-title">
        <div>
          <div>
            <p>Mark Pelletier and Lisa Melton remember exactly how they were introduced to AAA. For Pelletier, who is now senior vice president, e-business, for AAA Northeast (AAANE), that moment arrived when he got his first car and his mother gave him a AAA membership to carry for the road ahead.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section" data-status="decorated" data-idx="3">
      <div class="text center max-width-8-desktop s-body m-spacing-top">
        <div>
          <div>
            <p>Melton, now chief marketing officer for AAANE, experienced AAA’s trusted services as a young adult planning a cross-country road trip. She visited the AAA office in Buffalo, New York, where a representative built her a custom AAA TripTik® travel planner and manually marked every construction obstacle along the way.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
