name: Check code compatibility with Milo supported browsers

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Check for unsupported functions
        run: |
          # Install eslint and its plugins
          npm install

          # Check for unsupported functions in the code
          npx eslint --no-eslintrc -c .eslintrc-code-compatibility.js .
