name: Link PR to Jira

on:
  pull_request_target:
    types: [opened]

env:
  JIRA_BASE_URL: https://jira.corp.adobe.com
  JIRA_USER_EMAIL: ${{ secrets.JIRA_SYNC_USER_EMAIL }}
  JIRA_API_TOKEN: ${{ secrets.JIRA_SYNC_API_TOKEN }}

jobs:
  link-to-jira:
    if: github.repository_owner == 'antonio-rmrz'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Link PR to Jira ticket
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with:
          script: |
            const main = require('./.github/workflows/jira-link-pr.js')
            await main({ github, context })
