name: Link PR to Jira

on:
  pull_request_target:
    types: [opened]

env:
  JIRA_SYNC_IPAAS_URL: https://ipaasapi.adobe-services.com/rest/api/2
  JIRA_SYNC_IMS_URL: https://ims-na1.adobelogin.com/ims/token
  JIRA_SYNC_IMS_CLIENT_ID: ${{ secrets.JIRA_SYNC_IMS_CLIENT_ID }}
  JIRA_SYNC_IMS_CLIENT_SECRET: ${{ secrets.JIRA_SYNC_IMS_CLIENT_SECRET }}
  JIRA_SYNC_IMS_AUTH_CODE: ${{ secrets.JIRA_SYNC_IMS_AUTH_CODE }}
  JIRA_SYNC_IPAAS_KEY: ${{ secrets.JIRA_SYNC_IPAAS_KEY }}
  JIRA_SYNC_USERNAME: ${{ secrets.JIRA_SYNC_USERNAME }}
  JIRA_SYNC_PASSWORD: ${{ secrets.JIRA_SYNC_PASSWORD }}

jobs:
  link-to-jira:
    if: github.repository_owner == 'antonio-rmrz'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Link PR to Jira ticket
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with:
          script: |
            const main = require('./.github/workflows/jira-link-pr.js')
            await main({ github, context })
