name: Link PR to Jira

on:
    pull_request_target:
        types: [opened]

env:
    JIRA_SYNC_IPAAS_URL: ${{ vars.JIRA_SYNC_IPAAS_URL }}
    JIRA_SYNC_IMS_URL: ${{ vars.JIRA_SYNC_IMS_URL }}
    JIRA_SYNC_IMS_CLIENT_ID: ${{ secrets.JIRA_SYNC_IMS_CLIENT_ID }}
    JIRA_SYNC_IMS_CLIENT_SECRET: ${{ secrets.JIRA_SYNC_IMS_CLIENT_SECRET }}
    JIRA_SYNC_IMS_AUTH_CODE: ${{ secrets.JIRA_SYNC_IMS_AUTH_CODE }}
    JIRA_SYNC_IPAAS_KEY: ${{ secrets.JIRA_SYNC_IPAAS_KEY }}
    JIRA_SYNC_PAT: ${{ secrets.JIRA_SYNC_PAT }}

jobs:
    link-to-jira:
        if: github.repository_owner == 'adobecom'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
              with:
                  ref: ${{ github.event.pull_request.base.ref }}

            - name: Link PR to Jira ticket
              run: node .github/workflows/jira-link-pr.js
