name: Add or remove zero impact label

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  label:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add the zero impact label
        uses: actions/github-script@v7
        with:
          script: |
            const main = require('./.github/workflows/label-zero-impact.js')
            main({ github, context })
