name: Unit Tests - MAS
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  run-tests:
    name: Running tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install npm dependencies
        run: npm install
        working-directory: libs/features/mas

      - name: Run npm test
        run: npm test
        working-directory: libs/features/mas

      - name: Upload commerce coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          name: mas-commerce
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./commerce/coverage/lcov.info

      - name: Upload web-components coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          name: mas-web-components
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./web-components/coverage/lcov.info
