.project-overview {
  background: #8ecae6;
}

.project-status {
  margin: 20px 0 50px;
  width: fit-content;
}

.title {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
}

.fg-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 50%);
}

.fg-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  text-align: center;
}

.fg-modal-buttons button {
  margin: 10px;
}

.promote-publish-options {
  display: none;
  padding-top: 20px;
}
